@page
@using Questioning_Data_Repositories.Utitlites.GeneralTools
@using Questioning_Data_Repositories.ViewModel.AdminPanelVms
@model Questioning_program.Pages.FormManagement.FormManagementListModel
@{
    ViewData["Title"] = "لیست اطلاعات فرم آزمون";
    var formIndexData = Model.FormExamList.FirstOrDefault() ?? new FormExamListViewModel();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>لیست فرم ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active">لیست فرم آزمون</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <br />
                    <a class="btn btn-success" asp-page="/FormManagement/AddForm">افزودن فرم آزمون</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    @if (Model.FormExamList != null && Model.FormExamList.Any())
                    {
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات فرم آزمون</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => formIndexData.FormTitle)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.IsActive)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.IsPublic)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.StartExamTime)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.EndExamTime)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.StartExamDate)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.EndExamTime)</th>
                                        <th>@Html.DisplayNameFor(m => formIndexData.CategoryTitle)</th>
                                        <th>دستورات</th>
                                    </tr>
                                    @foreach (var item in Model.FormExamList)
                                    {
                                        <tr>
                                            <td>@item.FormTitle</td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <span class="badge badge-success">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">غیرفعال</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.IsPublic)
                                                {
                                                    <span class="badge badge-success">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">غیرفعال</span>
                                                }
                                            </td>
                                            <td>@item.StartExamTime</td>
                                            <td>@item.EndExamTime</td>
                                            <td>@item.StartExamDate</td>
                                            <td>@item.EndExamDate</td>
                                            <td>@item.CategoryTitle</td>
                                            <td>
                                                <a class="btn btn-sm btn-info" asp-page="/FormManagement/EditForm" asp-route-formId="@item.FormId">ویرایش فرم</a>
                                                <form id="deleteForm-@item.FormId" method="post" asp-page-handler="Delete" asp-route-formId="@item.FormId" class="d-inline">
                                                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('@item.FormId')">حذف فرم</button>
                                                </form>
                                                <a class="btn btn-sm btn-dark" asp-page="/FormManagement/ShowExamForm" asp-route-formId="@item.FormId">نمایش برگه امتحان</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۱</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۲</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۳</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.card -->
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p class="text text-center">در حال حاضر فرم آزمونی ثبت نشده است</p>
                        </div>
                    }
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section JavaScriptsSection
{
    <script>
        function confirmDelete(formId) {
            SwalHelper.showConfirm(
                'آیا مطمئن هستید؟',
                'این عملیات قابل بازگشت نیست.',
                'بله حذف کن',
                'خیر',
                function () {
                    document.getElementById('deleteForm-' + formId).submit();
                });
        }
    </script>

    <script>
        $(document).ready(function(){
            @if (TempData["SuccessMessage"] != null)
            {
                    <text>
                        SwalHelper.showSuccess('@TempData["SuccessMessage"]');
                    </text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                    <text>
                        SwalHelper.showError('@TempData["ErrorMessage"]');
                    </text>
            }
        });
    </script>
}