@page "{formId}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Questioning_Data_Repositories.StaticValue
@model Questioning_program.Pages.FormManagement.ShowExamFormModel
@{
    Layout = null;
    var showExamData = Model.ExamFormModel;
}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        نمایش @showExamData.FormTitle
    </title>
    <link rel="stylesheet" href="/WebsiteCss/ExamStyleCss.css" />
</head>

<body>

    <div class="exam-container">
        <div class="exam-header">
            <h2>@showExamData.FormTitle</h2>
        </div>

        <form>
            @foreach (var item in showExamData.Questions)
            {
                var answerData = item.Answers.FirstOrDefault();
                if (answerData == null) { continue; }

                <div class="question">
                    <h4>@item.QuestionText</h4>
                    @switch (@item.QuestionType)
                    {
                        case AnswerTypeEnumTypes.Anatomical:
                            <!-- سوال تشریحی -->
                            <textarea readonly="readonly" placeholder="لطفا متن تشریحی خود را وارد کنید ....">@answerData.AnswerText</textarea>
                            break;

                        case AnswerTypeEnumTypes.Test:
                            <!-- سوال چندگزینه‌ای -->
                            <div class="options">
                                <input type="radio" disabled="disabled" @(answerData.CorrectOption == answerData.OptionOne ? "checked" : "") />
                                <label>@answerData.OptionOne</label>

                                <input type="radio" disabled="disabled" @(answerData.CorrectOption == answerData.OptionTwo ? "checked" : "") />
                                <label>@answerData.OptionTwo</label>

                                <input type="radio" disabled="disabled" @(answerData.CorrectOption == answerData.OptionThree ? "checked" : "") />
                                <label>@answerData.OptionThree</label>

                                <input type="radio" disabled="disabled" @(answerData.CorrectOption == answerData.OptionFour ? "checked" : "") />
                                <label>@answerData.OptionFour</label>
                            </div>
                            break;
                        case AnswerTypeEnumTypes.TrueOrFalse:
                            <!-- سوال درست و غلط -->
                            <div class="options">
                                <input type="radio" disabled="disabled" @(answerData.TrueOrFalseAnswer ? "checked" : "") />
                                <label>صحیح</label>

                                <input type="radio" disabled="disabled" @(!answerData.TrueOrFalseAnswer ? "checked" : "") />
                                <label>غلط</label>
                            </div>
                            break;
                    }
                </div>
            }

            <button type="submit" disabled="disabled" class="submit-btn">ثبت پاسخ‌ها</button>
        </form>
    </div>

</body>

</html>