@page "{questionId}"
@model Questioning_program.Pages.Q_AManagement.EditQuestionModel
@{
    ViewData["Title"] = "ویرایش سوالات";
    var editeQue = Model.EditQuestion;
    var answerData = ViewData["AnswerData"];
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>صفحه اضافه کردن سوال و جواب</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">
                            <a href="/">خانه</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-page="/Q&AManagement/IndexQuestion">لیست سوال ها</a>
                        </li>
                        <li class="breadcrumb-item active">ویرایش سوال و جواب</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form method="post" role="form">
                <input type="hidden" asp-for="EditQuestion.QuestionId"/>
                @Html.AntiForgeryToken()
                <div class="row">
                    <!-- right col -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات سوال و جواب</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="EditQuestion.QuestionText">@Html.DisplayNameFor(m => editeQue.QuestionText)</label>
                                    <input type="text" class="form-control" asp-for="EditQuestion.QuestionText" placeholder="لطفا سوال را وارد کنید"/>

                                    <small>
                                        <span class="text text-danger" asp-validation-for="EditQuestion.QuestionText"></span>
                                    </small>
                                </div>

                                <div class="form-group form-select">
                                    @if (answerData != null)
                                    {
                                        <select class="form-control" asp-for="EditQuestion.AnswerType" asp-items="(SelectList)answerData" id="answerTypeSelect">
                                            <option value="" selected="selected" hidden="hidden">لطفا نوع جواب را انتخاب کنید</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control">
                                            <option value="">لیست انتخابی یافت نشد</option>
                                        </select>
                                    }

                                    <small>
                                        <span class="text text-danger" asp-validation-for="EditQuestion.AnswerType"></span>
                                    </small>
                                </div>

                                <div id="testOptions" style="display: none;">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="EditQuestion.TestOptionOne">@Html.DisplayNameFor(m => editeQue.TestOptionOne)</label>
                                            <input type="text" class="form-control" asp-for="EditQuestion.TestOptionOne" placeholder="جواب اول را وارد کنید"/>

                                            <small>
                                                <span asp-validation-for="EditQuestion.TestOptionOne" class="text text-danger"></span>
                                            </small>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="EditQuestion.TestOptionTwo">@Html.DisplayNameFor(m => editeQue.TestOptionTwo)</label>
                                            <input type="text" class="form-control" asp-for="EditQuestion.TestOptionTwo" placeholder="جواب دوم را وارد کنید"/>

                                            <small>
                                                <span asp-validation-for="EditQuestion.TestOptionTwo" class="text text-danger"></span>
                                            </small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="EditQuestion.TestOptionThree">@Html.DisplayNameFor(m => editeQue.TestOptionThree)</label>
                                            <input type="text" class="form-control" asp-for="EditQuestion.TestOptionThree" placeholder="جواب سوم را وارد کنید"/>

                                            <small>
                                                <span asp-validation-for="EditQuestion.TestOptionThree" class="text text-danger"></span>
                                            </small>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="EditQuestion.TestOptionThree">@Html.DisplayNameFor(m => editeQue.TestOptionFour)</label>
                                            <input type="text" class="form-control" asp-for="EditQuestion.TestOptionFour" placeholder="جواب چهارم را وارد کنید"/>

                                            <small>
                                                <span asp-validation-for="EditQuestion.TestOptionFour" class="text text-danger"></span>
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="EditQuestion.TestCorrectionOption">@Html.DisplayNameFor(m => editeQue.TestCorrectionOption)</label>
                                        <input type="text" class="form-control" asp-for="EditQuestion.TestCorrectionOption" placeholder="جواب درست را وارد کنید"/>

                                        <small>
                                            <span asp-validation-for="EditQuestion.TestCorrectionOption" class="text text-danger"></span>
                                        </small>
                                    </div>
                                </div>

                                <div id="trueFalseOption" style="display: none;">
                                    <div class="form-group">
                                        <label asp-for="EditQuestion.TrueOrFalseAnswer">@Html.DisplayNameFor(m => editeQue.TrueOrFalseAnswer)</label>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(m => editeQue.TrueOrFalseAnswer, true, new { @class = "form-check-input", id = "True" })
                                            <label class="form-check-label" for="True">درست</label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(m => editeQue.TrueOrFalseAnswer, false, new { @class = "form-check-input", id = "False" })
                                            <label class="form-check-label" for="False">غلط</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="textAnswerOption" style="display: none;">
                                    <div class="form-group">
                                        <label asp-for="EditQuestion.AnswerText">@Html.DisplayNameFor(m => editeQue.AnswerText)</label>
                                        <textarea class="form-control" rows="3" asp-for="EditQuestion.AnswerText" placeholder="لطفا جواب تشریحی را وارد کنید"></textarea>

                                        <small>
                                            <span class="text text-danger" asp-validation-for="EditQuestion.AnswerText"></span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-warning">ویرایش اطلاعات</button>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/ right col -->
                </div>
                <!-- /.row -->
            </form>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section JavaScriptsSection
{
    <script src="/WebsiteScripts/ComponentSelection.js"></script>
}