@page
@using Questioning_Data_Repositories.Utitlites.GeneralTools
@using Questioning_Data_Repositories.ViewModel.AdminPanelVms
@model Questioning_program.Pages.Q_AManagement.QuestionManagementListModel
@{
    ViewData["Title"] = "لیست سوالات";
    var questionFirst = Model.QuestionList.FirstOrDefault() ?? new QuestionListFromAdminPanelViewModel();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>لیست سوال ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active">لیست سوال ها</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <br />
                    <a class="btn btn-success" asp-page="/Q&AManagement/AddQuestion">افزودن سوال</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    @if (Model.QuestionList != null && Model.QuestionList.Any())
                    {
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربران</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => questionFirst.QuestionText)</th>
                                        <th>@Html.DisplayNameFor(m => questionFirst.AnswerType)</th>
                                        <th>دستورات</th>
                                    </tr>
                                    @foreach (var item in Model.QuestionList)
                                    {
                                        <tr>
                                            <td>@item.QuestionText</td>
                                            <td>@item.AnswerType.GetDisplayName()</td>
                                            <td>
                                                <a class="btn btn-sm btn-info" asp-page="/Q&AManagement/EditQuestion" asp-route-questionId="@item.QuestionId">ویرایش سوال</a>
                                                <form id="deleteForm-@item.QuestionId" method="post" asp-page-handler="Delete" asp-route-questionId="@item.QuestionId" class="d-inline">
                                                    @* <a class="btn btn-sm btn-danger" asp-page="/Q&AManagement/DeleteQuestion">حذف سوال</a> *@
                                                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('@item.QuestionId')">حذف سوال</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۱</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۲</a></li>
                                    <li class="page-item"><a class="page-link" href="#">۳</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.card -->
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p class="text text-center">در حال حاضر سوالی ثبت نشده است</p>
                        </div>
                    }
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section JavaScriptsSection
{
    <script>
        function confirmDelete(questionId) {
            SwalHelper.showConfirm(
                'آیا مطمئن هستید؟',
                'این عملیات قابل بازگشت نیست.',
                'بله حذف کن',
                'خیر',
                function () {
                    // عملیات حذف
                    document.getElementById('deleteForm-' + questionId).submit();
                });
        }
    </script>

    <script>
        $(document).ready(function(){
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                    SwalHelper.showSuccess('@TempData["SuccessMessage"]');
                </text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                    SwalHelper.showError('@TempData["ErrorMessage"]');
                </text>
            }
        });
    </script>
}
