@page
@using Questioning_Data_Repositories.ViewModel.AdminPanelVms
@model Questioning_program.Pages.CategoryManagement.IndexCategoryModel
@{
    ViewData["Title"] = "لیست دسته بندی ها";
    var categoryFirst = Model.Category.FirstOrDefault() ?? new CategoryViewModel();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>لیست دسته بندی ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active">لیست دسته بندی ها</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <br />
                    <a class="btn btn-success" asp-page="/CategoryManagement/AddCategory">افزودن دسته بندی ها</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    @if (Model.Category != null && Model.Category.Any())
                    {
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات دسته بندی سوالات</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => categoryFirst.CategoryName)</th>
                                        <th>دستورات</th>
                                    </tr>
                                    @foreach (var item in Model.Category)
                                    {
                                        <tr>
                                            <td>@item.CategoryName</td>
                                            <td>
                                                <a class="btn btn-sm btn-info" asp-page="/CategoryManagement/EditCategory" asp-route-categoryId="@item.CategoryId">ویرایش دسته بندی</a>
                                                <form id="deleteForm-@item.CategoryId" method="post" asp-page-handler="Delete" asp-route-categoryId="@item.CategoryId" class="d-inline">
                                                    @* <a class="btn btn-sm btn-danger" asp-page="/CategoryManagement/DeleteCategory">حذف دسته بندی</a> *@
                                                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('@item.CategoryId')">حذف کاربر</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p class="text text-center">در حال حاضر لیست دسته بندی ها ثبت نشده است</p>
                        </div>
                    }
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section JavaScriptsSection
{
    <script>
        function confirmDelete(categoryId) {
            SwalHelper.showConfirm(
                'آیا مطمئن هستید؟',
                'این عملیات قابل بازگشت نیست.',
                'بله حذف کن',
                'خیر',
                function () {
                    // عملیات حذف
                    document.getElementById('deleteForm-' + categoryId).submit();
                });
        }
    </script>

    <script>
        $(document).ready(function(){
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                    SwalHelper.showSuccess('@TempData["SuccessMessage"]');
                </text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                    SwalHelper.showError('@TempData["ErrorMessage"]');
                </text>
            }
        });
    </script>
}
